@using APS.BusinessEntity.Models.Authentication;
@model ChangePasswordModel
@{
    ViewBag.Title = "APS Change Password";

}
<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("APSChangePassword", "APS", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
            <div class="form-group">
                @Html.Label("Please change your password to proceed", new { @class = "col-md-4 control-label text-danger" })
            </div>

            <div class="form-group">
                @Html.Label("New Password", new { @class = "col-md-2 control-label required" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.UserPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Confirm New Password", new { @class = "col-md-2 control-label required" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ReTypeUserPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ReTypeUserPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Security Question", new { @class = "col-md-2 control-label required" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.PasswordQuestionID,
                            new SelectList(new List<SelectListItem> {
                                         new SelectListItem { Text = "What was your childhood nickname?", Value = "1"},
                                         new SelectListItem { Text = "What is the name of your favorite childhood friend?", Value = "4"},
                                          new SelectListItem { Text = "What school did you attend for sixth grade?", Value = "5"},
                                           new SelectListItem { Text = "In what town was your first job?", Value = "6"}
                            }, "Value", "Text"),
                            "Select Security Question",
                            new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PasswordQuestionID, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group">
                @Html.Label("Security Answer", new { @class = "col-md-2 control-label required" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PasswordQuesAnswer, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PasswordQuesAnswer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("* indicates required field", new { @class = "col-md-4 control-label" })

            </div>

            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <input type="submit" value="Submit" class="btn btn-default" />
                    <input type="reset" value="Cancel" class="btn btn-default" onclick="location.href='@Url.Action("ReturnToLogin", "APS")'" />
                </div>
            </div>

        }
    </div>

</div>
