@using APS.BusinessEntity.Models.Authentication;
@model ForgetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="/img/base/favicon.ico">
    <title>Forget Password | Trinity</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/glyphicons.css" rel="stylesheet">
    <link href="/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="/css/forget-password-style.css" rel="stylesheet">
    <link href="/css/custom-style.css" rel="stylesheet">
    <style>
        .form-control:disabled, .form-control[readonly] {
            background-color: #464a4c;
        }
    </style>
</head>
<body class="is-bg">
    <!-- Page Content -->
    <div class="page-content ">
        <div class="container">
            @using (Html.BeginForm("APSDOForgetPassword", "APS", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="forget-password d-flex justify-content-center align-items-stretch">
                    <div class="align-self-center full-width">
                        <div class="box forget-password ">
                            <div class="row justify-content-sm-center row-eq-height">
                                <div class="col">
                                    <div class="content">
                                        <div class="form-group text-danger">
                                            @ViewBag.ErrorMessage
                                        </div>
                                        <div class="forget-password-form">
                                            <form>
                                                <h3 class="form-title">Forget of Password</h3>
                                                <div class="form-group">
                                                    <div class="input-group modern-input-group is-required is-error">
                                                        @*<input type="text" class="form-control modern-input col-7" placeholder="Enter NRIC No." />*@
                                                        @Html.TextBoxFor(m => m.UserName, new { placeholder = "Enter NRIC No.", @class = "form-control modern-input col-7" })
                                                        @*@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })*@
                                                        <span class="input-group-addon col-5">
                                                            <span class="addon-text">NRIC No.</span>
                                                        </span>
                                                    </div>
                                                    <span class="error-text">@Html.ValidationMessageFor(m => m.UserName, "", new { })</span>
                                                </div>
                                                <div class="form-group ">
                                                    <div class="input-group modern-input-group is-required is-error">
                                                        @*<input type="text" class="form-control modern-input col-7" placeholder="Enter Mobile No./Email" />*@
                                                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter Mobile No./Email", @class = "form-control modern-input col-7", @readonly = "true" })
                                                        @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
                                                        <span class="input-group-addon col-5">
                                                            <span class="addon-text">Mobile No./Email</span>
                                                        </span>
                                                    </div>
                                                    <span class="error-text">@Html.ValidationMessageFor(m => m.Email, "", new { })</span>
                                                </div>
                                                <div class="form-group ">
                                                    <label class="control-label">@Html.LabelFor(m => m.PasswordQuestion)</label>
                                                    @Html.HiddenFor(m => m.PasswordQuestion, new { id = "passQues" })

                                                    <div class="input-group modern-input-group is-required is-error">
                                                        @*<input type="text" class="form-control modern-input col-7" placeholder="Enter Your Answer" />*@
                                                        @Html.TextBoxFor(m => m.PasswordQuesAnswer, new { placeholder = "Enter Your Answer", @class = "form-control modern-input col-7" })
                                                        @*@Html.ValidationMessageFor(m => m.PasswordQuesAnswer, "", new { @class = "text-danger" })*@
                                                        <span class="input-group-addon col-5">
                                                            <span class="addon-text">Your Answer</span>
                                                        </span>
                                                    </div>
                                                    <span class="error-text">@Html.ValidationMessageFor(m => m.PasswordQuesAnswer, "", new { })</span>
                                                </div>
                                                <p><br /></p>
                                                <div class="row">
                                                    <div class="col">
                                                        <!-- <button type="button" class="btn btn-empty btn-block">CANCEL</button> -->
                                                        <a href="~/APS/APSLogin" class="btn btn-empty btn-block">CANCEL</a>
                                                    </div>
                                                    <div class="col">
                                                        @*<button type="submit" class="btn btn-primary btn-block" data-toggle="modal" data-target="#notificationModal">SUBMIT</button>*@
                                                        <button type="submit" class="btn btn-primary btn-block" data-toggle="modal">SUBMIT</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            }
        </div>
        <!-- /.container -->
    </div>
    <!-- Modal -->
    <div class="modal fade modal-notification" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
        <div class="d-flex full-height">
            <div class="modal-dialog modal-md align-self-center" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="notificationModalLabel">Successfully Reset Password</h5>
                    </div>
                    <div class="modal-body">
                        <p>Please check your email or sms for your new password.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/tether.js"></script>
    <script>
        window.Tether = {};
    </script>
    <script src="/js/bootstrap.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script type=text/javascript>
        $(document).ready(function () {
            var a = $('#UserName').val();
            $.ajax({
                url: '@Url.Action("GetUserSecretQuestion", "APS")',
                type: "POST",
                dataType: "json",
                data: { nricno: a },
                success: function (result) {
                    if (result != '') {
                        $("label[for='PasswordQuestion']").text(result);
                        //$('#PasswordQuestion').val(result);
                        $('#passQues').val(result);
                    }
                    else {
                        //alert('Invalid UserName');
                    }
                }
            });


            $.ajax({
                url: '@Url.Action("GetUserRegisteredEmail", "APS")',
                type: "POST",
                dataType: "json",
                data: { nricno: a },
                success: function (result) {
                    if (result != '') {
                        $('#Email').val(result);
                    }
                    else {
                        //alert('Invalid UserName');
                    }
                }
            });

        });

        $('#UserName').change(function () {
            var a = $('#UserName').val();
            $.ajax({
                url: '@Url.Action("GetUserSecretQuestion", "APS")',
                type: "POST",
                dataType: "json",
                data: { nricno: a },
                success: function (result) {
                    if (result != '') {
                        $("label[for='PasswordQuestion']").text(result);
                        //$('#PasswordQuestion').val(result);
                        $('#passQues').val(result);

                        $.ajax({
                            url: '@Url.Action("GetUserRegisteredEmail", "APS")',
                            type: "POST",
                            dataType: "json",
                            data: { nricno: a },
                            success: function (result) {
                                if (result != '') {
                                    $('#Email').val(result);
                                }
                                else {
                                    //alert('Invalid UserName');
                                }
                            }
                        });

                    }
                    else {
                        //alert('Invalid UserName');
                    }
                }
            });


        });
    </script>

</body>
</html>
